@media (min-width: 768px) {
  div > ul {
    width: 600px;
  }
}
@media (max-width: 505px) {
  #monkeys {
    flex-wrap: wrap;
    columns: 2;
    min-width: auto;
  }
}

body {
  background-color: #363636;
  text-align: center;
  border-style: dotted;
  border-left: 2.5%;
  border-right: 2.5%;
  border-top: 10%;
  border-color: aliceblue;
}
h1 {
  color: rgb(177, 211, 241);
  border-color: aqua;
  border: 5px;
  padding: 5px 15px 15px 15px;
}
li {
  color: aqua;
  padding: 20px;
  border-style: double;
  border-width: 10px;
  border-color: blueviolet;
}
ul {
  text-align: left;
  /* position:relative; */
  width: 60%;
  /* right: 5%; */
  margin-top: 20px;
  margin: auto;
  padding: 100px;
}
#image {
  margin-bottom: 30px;
}

.blue-text {
  color: rgb(121, 121, 221);
}
#monkeys {
  color: rgb(249, 247, 244);
  margin-top: 100px;
  margin: auto;
  display: flex;
}

#blog-link {
  margin-top: 30px;
}

.links {
  padding: 10px;
  border-style: solid;
  border-width: 15px;
  border-color: rgb(250, 13, 187);
  margin: auto;
}
span {
  color: red;
}
