
  
body{ 
   background-color:#363636;
   text-align: center ;
   border-style:dotted;
   border-left: 2.5%;
   border-right: 2.5%;
   border-top: 10%;
   border-color:aliceblue;
 }
h1{
  color:rgb(177, 211, 241);
  border-color:aqua;
  border: 5px;;
  padding: 5px 15px 15px 15px;
}
 li {color: aqua;
  padding:20px;
border-style: double;
border-width:10px;
border-color: blueviolet;
}
  ul{text-align:left;
  position:relative;
top:50px;
right: 5%;}
    #image{
      position:relative;
      bottom:30px 
    }
  
  .blue-text{
    color:rgb(121, 121, 221);
  }
  #monkeys{
    color:rgb(249, 247, 244);
    text-align:right;
position:relative;
top: 100px;
 right: 20%;}
 @media(max-width:660px)
  {column-width: 10em;}
 #blog-link{
  position:relative;
  top:10px;
 }


   
  #links{padding: 10px;
    border-style: solid;
    border-width: 15px;
    border-color: rgb(251, 13, 187);}
    span{color:red; }
 
     